<div class="cart-list">
  <ul>
    <div class="cart-img">
      <li class="cart-image">
        <img src={{item.image}}/>
      </li>
    </div>
    <div class="cart-info">
      <li class="cart-name">{{item.name}}</li>
      <li class="cart-quantity">- 5 +</li>
      <li class="cart-price">Цена {{item.price}} грн</li>
    </div>
    <div>
      <li>
        <button class="cart-delete" (click)="remove(item.id)">
          <img src="assets/images/delete.png">
        </button>
      </li>
    </div>
  </ul>
</div>

